<app-header currentAction="Maintenance" currentLink="/maintenance" previousAction="Order List" previousLink="/courier-order-list"></app-header>
<div class="container">

    <div class="heading row">
        <div class="col-12">
            <p class="p-0 m-0">Your Balance</p>
            <h3 class="pb-3">$7500</h3>
            <button class="btn btn-info btn-lg"><i class="fa fa-money" aria-hidden="true"></i> Cash Out</button>
            <p>PAYMENT SCHEDULED: 10/1</p>
        </div>
    </div>
    <p class="p-0 m-0">Posted</p>
    <div class=" col-12 mb-5">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between p-0 m-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0">
                                <p class="amount m-0 pr-3" style="float:right;"><strong>$10.00</strong></p><br>
                                <p class="amount m-0 pr-3" style="float:right;">$210.16</p>
                                <p class="styling pb-3 pl-3 m-0">Sep 29, 8:47 PM</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>