<div class="scrollable">
    <div class="row grid-view">

        <div class="col-6 col-sm-3 beautifyService " [routerLink]="['/basic-cart']" [queryParams]="{ productId: product.id }" *ngFor="let product of products; let i = index" [hidden]="error">

            <div class="card-deck p-0 m-1 custom-height">
                <div class="card p-0">
                    <img class="card-img-top img-fluid" src="{{product.path}}" alt="Card image cap">
                    <div class="card-body p2">
                        <h5 class="card-title m-0">{{product.product_name}}</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div [hidden]="!error">Not Found !!!</div>