<app-header currentAction="Cash Out" currentLink="/courier-cashout" previousAction="Map" previousLink="/courier-map"></app-header>
<div class="container">
  <p class="p-0 m-0">Order Lists</p>
  <div class=" col-12 mb-5">
    <div class="card card-shadow mb-4">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item justify-content-between p-0 m-0">
            <div class="row p-0 m-0">
              <div class="col-4 m-1 p-0">
                  <img src="../../../../assets/img/map.png" alt="" style="max-width: 100%"/>
              </div>
              <div class="col-6 p-0">
                <p class="p-0 pt-3 m-0 header">ABC Repair Shop</p>
                <p class="p-0 m-0 styling">123 6th Ave NY NY</p>
                <p class="p-0 m-0 styling">Jason-971-123-4567 </p>
                <p class="p-0 m-0 satisfied">Satisfied</p>
              </div>
              <div class="col-1 p-0 icon"><i class="fa fa-phone fa-3x pt-4" aria-hidden="true"></i></div>
            </div>
          </li>
          <li class="list-group-item justify-content-between p-0 m-0">
              <div class="row p-0 m-0">
                <div class="col-4  m-1 p-0" >
                    <img src="../../../../assets/img/map.png" alt="" style="max-width: 100%"/>
                </div>
                <div class="col-6 p-0">
                  <p class="p-0 pt-3 m-0 header">ABC Repair Shop</p>
                  <p class="p-0 m-0 styling">123 6th Ave NY NY</p>
                  <p class="p-0 m-0 styling">Jason-971-123-4567 </p>
                  <p class="p-0 m-0 satisfied">Satisfied</p>
                </div>
                <div class="col-1 p-0 icon"><i class="fa fa-phone fa-3x pt-4" aria-hidden="true"></i></div>
              </div>
            </li>
            <li class="list-group-item justify-content-between p-0 m-0">
                <div class="row p-0 m-0">
                  <div class="col-4 m-1 p-0">
                      <img src="../../../../assets/img/map.png" alt="" style="max-width: 100%"/>
                  </div>
                  <div class="col-6 p-0">
                    <p class="p-0 pt-3 m-0 header">ABC Repair Shop</p>
                    <p class="p-0 m-0 styling">123 6th Ave NY NY</p>
                    <p class="p-0 m-0 styling">Jason-971-123-4567 </p>
                    <p class="p-0 m-0 satisfied">Satisfied</p>
                  </div>
                  <div class="col-1 p-0 icon"><i class="fa fa-phone fa-3x pt-4" aria-hidden="true"></i></div>
                </div>
              </li>
              <li class="list-group-item justify-content-between p-0 m-0">
                  <div class="row p-0 m-0">
                    <div class="col-4 m-1 p-0">
                        <img src="../../../../assets/img/map.png" alt="" style="max-width: 100%"/>
                    </div>
                    <div class="col-6 p-0">
                      <p class="p-0 pt-3 m-0 header">ABC Repair Shop</p>
                      <p class="p-0 m-0 styling">123 6th Ave NY NY</p>
                      <p class="p-0 m-0 styling">Jason-971-123-4567 </p>
                      <p class="p-0 m-0 satisfied">Satisfied</p>
                    </div>
                    <div class="col-1 p-0 icon"><i class="fa fa-phone fa-3x pt-4" aria-hidden="true"></i></div>
                  </div>
                </li>
                <li class="list-group-item justify-content-between p-0 m-0">
                    <div class="row p-0 m-0">
                      <div class="col-4 m-1 p-0">
                          <img src="../../../../assets/img/map.png" alt="" style="max-width: 100%"/>
                      </div>
                      <div class="col-6 p-0">
                        <p class="p-0 pt-3 m-0 header">ABC Repair Shop</p>
                        <p class="p-0 m-0 styling">123 6th Ave NY NY</p>
                        <p class="p-0 m-0 styling">Jason-971-123-4567 </p>
                        <p class="p-0 m-0 satisfied">Satisfied</p>
                      </div>
                      <div class="col-1 p-0 icon"><i class="fa fa-phone fa-3x pt-4" aria-hidden="true"></i></div>
                    </div>
                  </li>


        </ul>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>