.inner {
    float: left;
    padding: 5px !important;
}

.td {
    margin-left: auto;
    margin-right: auto;
}

.cardStyle {
    overflow: auto;
    margin-bottom: 3.5rem !important;
}

.addBtn {
    position: absolute;
    right: 2rem;
}