<div class="container">

  <form class="form-signin">
    <a class="brand text-center">
      <img src="../../../assets/img/Logo-splash.png" alt="" />
      <h2 class="form-signin-heading"><i>Connecting Manufacturer to business</i></h2>
    </a>

    <div class="borderbtn">
      <button class="btn btn-lg btn-outline-light btn-block" [routerLink]="['./login']">Sign in</button>
    </div>
    <div class="borderbtn">
      <button class="btn btn-lg btn-outline-light btn-block" [routerLink]="['./options']">Sign up</button>
    </div>
  </form>
</div>