a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    margin-top: 0.2rem !important;
}

.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    border: none;
}

.card-header:first-child {
    border-radius: 0;
}

.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border: none;
}

.card-header i {
    float: right;
    font-size: 30px;
    width: 1%;
    margin-right: 10px;
}

.animat {
    -webkit-animation: minus 0.5s !important;
    transform: rotate(90deg);
}

.star {
    position: absolute;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
    color: #ff0000a1;
}

.m-0 {
    margin: 0%;
}

.date-order {
    position: absolute;
}

.status {
    position: absolute;
    right: 3rem;
    font-weight: 500;
    font-size: larger;
}

.icon-s {
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.card-header h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    float: left !important;
}

.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 10px;
    color: #232323;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px soild #000;
    border-radius: 0;
}

@keyframes minus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

h5 {
    text-align: center;
    font-weight: bold;
}

.table td {
    padding: 0.2rem !important;
}

.table th {
    padding: 0.2rem !important;
    padding-bottom: 1rem !important;
    padding-right: 0.5rem !important;
    font-size: 13px !important;
    line-height: 2 !important;
    white-space: nowrap;
}

.addBtn {
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}

.btn-top {
    top: 7.5rem;
    bottom: unset;
}

.contact-icon {
    color: white;
    position: absolute;
    right: 1.5rem;
    margin-top: 1.2rem;
    z-index: 1;
}