<app-header previousLink="/auth" previousAction="Back"></app-header>
<div class="container">

  <form class="form-signin" [formGroup]="loginForm" *ngIf="!isForgetPage">
    <a class="brand text-center">
      <img src="../../../assets/img/Logo-splash.png" alt="" />
      <h2 class="form-signin-heading text"><i>Connecting Manufacturer to business</i></h2>
    </a>
    <h2 class="form-signin-heading text">Please sign in</h2>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address">
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password">
      <a class="text-dark darkBtn" (click)="forgetPageSetup()">Forgot password?</a>
      <label class="error">{{errorMessage}}</label>
    </div>

    <div class="checkbox mb-4 mt-4">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description text">
          Remember me
        </span>
      </label>
    </div>
    <div class="borderbtn">
      <button class="btn btn-lg btn-outline-light btn-block" type="submit" (click)="tryLogin(loginForm.value)">Sign
        in</button>
    </div>
    <div class="mt-4 text">
      <span>
        Don't have an account yet ?
      </span>
      <a [routerLink]="['/auth/options']" class="text-dark darkBtn">Sign Up</a>
    </div>

    <div class="mt-4" align="center">
      <a [routerLink]="['/auth/options']" class="text-dark darkBtn">Options</a>
    </div>
  </form>


  <form class="form-signin" [formGroup]="resetForm" *ngIf="isForgetPage">
    <a class="brand text-center">
      <img src="../../../assets/img/Logo-splash.png" alt="" />
      <h2 class="form-signin-heading text"><i>Connecting Manufacturer to business</i></h2>
    </a>
    <h2 class="form-signin-heading text">Please Enter Email Address</h2>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email Address</label>
      <input type="email" id="inputEmail" formControlName="email" class="form-control"
        placeholder="Please Enter Email Address">
      <span class="mt-4 text">Go Back to</span>
      <a (click)="forgetPageSetup()" class="text-dark darkBtn">Sign In</a>
      <span class="mt-4 text" style="margin: 1%;"> Or </span>
      <a [routerLink]="['/auth/options']" class="text-dark darkBtn">Sign Up</a>
    </div>

    <div class="borderbtn">
      <button class="btn btn-lg btn-outline-light btn-block" type="submit"
        (click)="resetPassword(resetForm.value)">Reset Password</button>
    </div>

  </form>

</div>