
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="error-wrap">
                  <h1>404</h1>
                  <h4>Page Not Found</h4>
                  <p>The page you are looking for doesn't exit.</p>
                  <a [routerLink]="['/auth']" class="btn btn-pill btn-primary">Go Home Page</a>
              </div>
          </div>
      </div>


  </div>
  <div class="error-img">
      <img src="../../../assets/img/error.svg" alt=""/>
  </div>